name: cpp_test

on:
  pull_request:
    types: [synchronize, reopened, labeled]
    branches:
      - master
      - 'v[0-9]+.*'

defaults:
  run:
    shell: bash

jobs:
  lint:
    name: lint
    if: ${{ contains(github.event.pull_request.labels.*.name, 'ready-for-testing') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - name: Cpplint
        run: |
          ln -snf $PWD/.linters/cpp/hooks/pre-commit.sh $PWD/.linters/cpp/pre-commit.sh
          .linters/cpp/pre-commit.sh $(git --no-pager diff --diff-filter=d --name-only HEAD^ HEAD)

  build:
    name: build
    needs: lint
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
      matrix:
        os:
          - centos7
          - ubuntu1804
        compiler:
          - gcc-9.2
          - clang-9
        exclude:
          - os: centos7
            compiler: clang-9
    container:
      image: vesoft/nebula-dev:${{ matrix.os }}
      env:
        TOOLSET_DIR: /opt/vesoft/toolset/clang/9.0.0
      volumes:
        - /tmp/nebula-graph-client/${{ matrix.os }}-${{ matrix.compiler }}:/tmp/nebula-graph-client/nebula-graph/${{ matrix.os }}-${{ matrix.compiler }}
      options: --mount type=tmpfs,destination=/tmp/ccache/nebula-graph,tmpfs-size=1073741824 --cap-add=SYS_PTRACE
    steps:
      - uses: actions/checkout@v2
      - name: CMake
        run: |
          case ${{ matrix.compiler }} in
          gcc-*)
            case ${{ matrix.os }} in
            centos7)
              # build with Release type
              cmake \
                  -DCMAKE_CXX_COMPILER=$TOOLSET_DIR/bin/g++ \
                  -DCMAKE_C_COMPILER=$TOOLSET_DIR/bin/gcc \
                  -DCMAKE_BUILD_TYPE=Release \
                  -DENABLE_TESTING=on \
                  -B build
              ;;
            ubuntu1804)
              # build with Debug type
              cmake \
                  -DCMAKE_CXX_COMPILER=$TOOLSET_DIR/bin/g++ \
                  -DCMAKE_C_COMPILER=$TOOLSET_DIR/bin/gcc \
                  -DCMAKE_BUILD_TYPE=Debug \
                  -DENABLE_TESTING=on \
                  -B build
              ;;
            esac
            ;;
          clang-*)
            # build with Sanitizer
            cmake \
                -DCMAKE_CXX_COMPILER=$TOOLSET_DIR/bin/clang++ \
                -DCMAKE_C_COMPILER=$TOOLSET_DIR/bin/clang \
                -DCMAKE_BUILD_TYPE=Debug \
                -DENABLE_ASAN=on \
                -DENABLE_TESTING=on \
                -B build
            ;;
          esac
      - name: Make
        run: cmake --build build/ -j $(nproc)
      - name: Install native compiler
        if: ${{ matrix.os }} == 'centos7'
        run: yum install -y gcc
      - name: Nebula Server
        run: |
          export CC=/usr/bin/cc
          sudo curl -sSL https://get.docker.com/ | sh
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
          source $HOME/.cargo/env
          pip3 install setuptools setuptools_rust
          pip3 install docker-compose
          docker network ls
          mkdir tmp
          pushd tmp
          git clone -b external_network https://github.com/Shylock-Hg/nebula-docker-compose.git
          pushd nebula-docker-compose/
          sed -i "s/\bdocker_nebula-net\b/$(docker network ls | grep github_network | tr -s [:blank:] | cut -d ' ' -f 2)/g" docker-compose.yaml
          docker-compose up -d
          docker network ls
          sleep 10
          popd
          popd
      - name: CTest
        env:
          ASAN_OPTIONS: fast_unwind_on_malloc=1
        run: |
          pushd build
          ctest -j $(($(nproc)/2+1)) --timeout 400 --output-on-failure
          popd
        timeout-minutes: 4
      - name: Cleanup
        if: ${{ always() }}
        run: rm -rf build modules
